button {
    margin-top: 15px;
}

img {
    width: 250px;
    height: 250px;
}

.padding{
    padding-top: 40px;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.spacing {
    margin: 20px;
}

.background {
    background-color: black;
}

.background:hover {
    box-shadow: 0 0 10px white;
}

h3, h4 {
    color: rgb(210, 126, 218);
}