.underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.italic {
    font-style: italic;
}

section {
    background-color:  rgb(49, 49, 49);
    color: whitesmoke;
}

h1, h2 {
    color: rgb(210, 126, 218);
}